body {
  background-image: url(../../planning/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.introduction {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.container {
  width: min(40%, 40rem);
  border: solid 3px grey;
  margin: 0 auto;
  background-color: #e5e8dc;
}

.form,
.display-lists {
  margin: 1rem;
}

.add-form {
  text-align: center;
}

.clear-button-div {
  margin: 2rem;
  display: flex;
  justify-content: center;
}
